/*
 Top level layout classes
=============================*/
html,
body {
    height: 100%; // vh does not work on mobile devices
}

.page-container {
    position: relative;
    min-height: 100%; // vh does not work on mobile devices
}

.page-content {
    padding-bottom: 1rem;
}

.page-content > .container {
    max-width: 1180px;
    padding-left: 24px;
    padding-right: 24px;
}

.page-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    margin-top: 2rem;
}
